version: "3.9"

services:
  server:
    build: ./server
    container_name: express-server
    ports:
      - "4000:4000"
    networks:
      - app-network
    restart: unless-stopped

  client:
    build: ./client
    container_name: react-client
    ports:
      - "5174:3000"
    depends_on:
      - server
    networks:
      - app-network
    restart: unless-stopped


networks:
  app-network:
    driver: bridge
